<p id="notice"><%= notice %></p>

<p>
  <strong>Eamil:</strong>
  <%= @user.eamil %>
</p>

<p>
  <strong>Subdomain:</strong>
  <%= @user.subdomain %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
